
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Tailors|Work Details</title>
</head>
<body>
 <div class="container-fluid text-center w-50% ">
    <h1 >WORK DETAILS</h1>
</div>
<br>
{% for w in work %}
<div class="container text-center border border-5 border-primary ">
 <h1>{{w.type}}</h1>   
<h3>Start Date: {{w.sdate}}</h3>
<h3>End Date: {{w.ldate}}</h3>
<h3 style="text-decoration: underline">Work Details</h3>
<p >{{w.details}}</p>
<h5 class="text-danger" >Payment:{{w.pay}}</h5>
</div>
<br>
{% endfor %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>

